{% extends "base.html" %}

{% block content %}
<div class="about">
    <div class="container ">
        <h2>Archived Blogs:</h2>        
        <div class="biography ">

                {% for post in object_list %}
                <div class="biographys col-md-12">    
                        <div class="biography-into">
                            <a href="/book_detail/{{ post.id }}" class="link"><h4>{{ post.title|slice:":20" }}</h4></a>
                            <p class="adm">Posted by <a href="#">Admin</a>  |  {{ post.created}}</p>
							<a href="/book_detail/{{post.id}}"><img src="/{{ post.imag }}" class="img-responsive" alt=""></a>
                        </div> 
                    <div class="clearfix"> </div>  
                </div> 
                {% endfor %}
            
                
        </div>
    </div>
</div>

{% endblock %}
