{% extends "base.html" %}

{% block content %}
<!-- content -->
<div class="content">
	<div class="container">
	 <div class="load_more">	
			     <ul id="myList">
			        <!-- These are our grid blocks -->
			        <li>
						<div class="col-md-9 l_g">
							{% for post in object_list %}
							<div class="col-md-4 praesent">
								<div class="l_g_r">
									<div class="dapibus">
										<h2>{{ post.title|slice:":20" }}</h2>
										<p class="adm">Posted by <a href="#">Admin</a>  |  {{ post.created}}</p>
										<a href="#"><img src="{{ post.imag.url }}" class="img-responsive" alt=""></a>
										<p>{{ post.body|slice:":50"}} </p>
										<a href="/{{post.id}}" class="link">Read More</a>
									</div>
									
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="col-md-3 l_g">
								<div class="l_g_r">
									<div class="posts">
										<h4>Recent posts</h4>
										{% for post in object_list %}
										<h6><a href="/{{post.id}}">{{ post.title|slice:":20" }}</a></h6>
										{% endfor %}
									</div>
									
									

								</div>
						</div>
							<div class="clearfix"></div>
					</li>
				</ul>	
		</div>
	</div>
</div>

<!-- content -->	

{% endblock %}