{% extends "base.html" %}

{% block content %}
<div class="about">
    <div class="container ">
        <h2>Contact Status:</h2>        
        <div class="biography ">

            <div class="biographys col-md-12">    
                <div class="biography-into">
                    <a href="#" class="link"><h4>Thanks We will contact you soon...!!</h4></a>     			
                </div> 
                <div class="clearfix"> </div>  
            </div>    
                
        </div>
    </div>
</div>

{% endblock %}