{% extends "base.html" %}

{% block content %}
<div class="about">
    <div class="container ">
        <h2>Search Results:</h2>        
        <div class="biography ">
            {% if query %}

                {% for result in page.object_list %}
                <div class="biographys col-md-12">    
                        <div class="biography-into">
                            <h4>{{ result.object.title }}</h4>
                            <p>{{ result.object.body }}</p>
                            <a href="/{{ result.object.id }}" class="link">Read More</a>
                        </div>
                 
                 
                    <div class="clearfix"> </div>  
                </div> 
                {% empty %}
                        <h4>No results found.</h4>
                {% endfor %}
            {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    <div class="biography-into">
                    <h4>No results found.</h4>
                    </div>
            {% endif %}
            
                
        </div>
    </div>
</div>

{% endblock %}